.types {
  display: flex;
}

.types li {
  display: flex;
  padding: 2px 6px;
  flex-direction: row;
  align-items: center;
  border: 2px solid black;
  border-radius: 8px;
  margin: 0 2px;
  font-family: arial;
  font-size: 0.8rem;
  color: white;
}
/* button {
  height: 50px;
  width: 50px;
  outline: none;
  border: none;
  padding: 0;
  margin: 0;
  font-family: inherit;
} */
.types .normal {
  background-color: #a8a878;
}

.types .fighting {
  background-color: #c03028;
}

.types .flying {
  background-color: #a890f0;
}

.types .poison {
  background-color: #a040a0;
}

.types .ground {
  background-color: #e0c068;
}

.types .rock {
  background-color: #b8a038;
}

.types .bug {
  background-color: #b8a038;
}

.types .ghost {
  background-color: #705898;
}

.types .steel {
  background-color: #b8b8d0;
}

.types .fire {
  background-color: #f08030;
}

.types .water {
  background-color: #5bc7e5;
}

.types .grass {
  background-color: #78c850;
}

.types .electric {
  background-color: #f8d030;
}

.types .psychic {
  background-color: #f85888;
}

.types .ice {
  background-color: #98d8d8;
}

.types .dragon {
  background-color: #7038f8;
}

.types .dark {
  background-color: #705848;
}

.types .fairy {
  background-color: #ee99ac;
}

.types .unknown {
  background-color: #68a090;
}

.types .shadow {
  background-color: #a8a878;
}
